
body {
    background: #EAECEE ;
    padding: 30px;
  
  }
  
  
  /* manejo de las características de la etiqueta table*/
  th, td {
    padding: 15px;
    border-bottom: 1px solid rgb(37, 2, 2);
  }
  
  tr:hover {
    background-color: #BB8FCE;
  }
  
  input[type=text], input[type=number] {
    width: 100%;
    padding: 5px 5px;
    box-sizing: border-box;
  }
  
  
  label {
    padding: 12px 10px;
  }
  /* manejo de las características de las clases*/
  
  .colorceldsprintfa{
    background: #F8C471;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .miformulario{
    width: 50%;
  }
  